@import 'theme.css';

html,
body {
    margin: 0;
    padding: 0;
    font-family: Muli; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dimension {
    width: 100%;
}

/* Header-container */

.header-container {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    /* font-family: Muli; */
    font-style: normal;
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
    width: 80%;
}

.h-1-l {
    margin: 1.5rem;
}

.h-text span{
    padding-left: 5px;

}

.h-2-r {
    margin-top: 1.5rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.dimension-icon {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

/**************************/

.best-t-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1.5rem; */
    height: 120px;
    width: 80%;
    font-size: 14px;
    line-height: 18px;
}

.best-text {
    font-size: 24px;
    line-height: 24px;
    font-family: 'Luckiest Guy', cursive;
}

/*********************************/
.best-search {
    display: flex;
    
}

.form {
    margin: 0;    
    border-radius: 0px 6px 6px 0px;
    margin: 0;
    border: 0;
}

.form input {
    padding: 1rem;
    padding-right: 5rem;
    border: 0px solid #ffffff;
    border-width: 0;
}

.icon-lens {    
    border-radius: 6px 6px 6px 6px;    
    padding: 1rem;
}

.icon-lens i {

}


/*******************************/

.cart-box {
    margin-left: 6rem;
}

.item-box {
    font-size: 16px;
    border-radius: 50%;
    padding: 5px;
}


/*****************************/

.best-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14%;
    margin-right: 1.5rem;
}

.avatar-img img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


/********NAV BAR *****/

.navbar {
    width: 100%;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin: 0 9rem 0 9rem;
    text-transform: uppercase;
}

.dimension1 {
    width: 80%;
}

/* Header-container-end */

.body-container {
    height: 1650px;
    display: flex;
    flex-direction: column;
}

.body-menu {
    height: 50px;
    padding-top: 18px;
}

.body-menu span {
    font-family: Muli;
    font-size: 10px;
    line-height: 13px;
}
/********************/


.name-hotel {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.stars i {
    font-size: 8px;
}

.title-h1 {
    font-size: 24px;
    line-height: 30px;
}

.text-offer {
    margin-left: 1rem;
    font-size: 10px;
    line-height: 13px;
    padding: 0.3rem;
    border-radius: 3px;
}

.add-info {    
    margin-top: 5px;
}

.add-info span {
    font-size: 12px;
    line-height: 15px;
}


/******** Container-body-left END/ **********/

.container-right {
    display: flex;
    align-items: center;
}

.rated-stars {
    width: 65px;
    text-align: center;
    border-radius: 4px;
}

.first {
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
}

.second {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}


/************ END BODY HEADER ********/

.image-hotel {    
    height: 450px;
    display: flex;
    justify-content: space-between;
}

.img-slider {
    width: 728px;
    height: 450px;
    background-image: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%), 
    url('../images/grand-hilton-hotel.jpg');
    background-size: cover;
}
/************************/

.map-price {
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.price-hotel {
    width: 350px;
    height: 210px;
}

.map-hotel {
    width: 347px;
    height: 213px;
    background-image: url('../images/grand-hilton-hotel-map.jpg');
    background-size: cover;
    border-radius: 10px;
}

/****************************************/

.price-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.first-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-left {
    margin: 2rem 0 0 2rem;
    display: flex;
    flex-direction: column;    
}


.text-1 {    
    font-size: 10px;
    line-height: 14px;
}

.text-2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

.text-3 {
    font-size: 12px;
    line-height: 16px;
}

.text-4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-top: 1rem;
}

.info-right {
    margin: 2rem 2rem 0 0;
}

.info-prenotazione {
    font-size: 12px;
    line-height: 16px;
}

.info-prenotazione .ico-pre {
    padding-right: 1rem;
    
}

.info-dimension {
    margin-top: 3rem;
}

.p-r {
    padding-right: 1rem;
}


/***************************************/

.second-info {
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-left: 1rem;
    width: 80%;
    padding: 1rem 4rem 1rem 4rem;
}

/******** SLIDER SECTION END ***********/

.nav-hotel {
    margin-top: 4rem;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

}

.second-menu {
    border-bottom: 3px solid transparent;
    padding-bottom: 1rem;
    margin: 5px;
    border-radius: 2px;
}

.second-menu:hover { 
    border-bottom-color: red;
    color: #EC1F46;
    cursor: pointer;
}

/*****************NAV HOTEL END**********/

.package-summary {
    height: 842px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h1-title {
    max-height: 2rem;
}

.he-mini-box {
    padding: 1rem 5rem 1rem 1rem;
    border-radius: 4px 4px 0px 0px;
}

.he-mini-box h1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.package-summary-1 {
    display: flex;
    justify-content: space-between;
}

.pack-height {
    display: flex;
    flex-direction: column;
}


.box-lists {
    display: flex;
    justify-content: space-between;
}

.text-list {
    margin-left: 1rem;
    font-size: 12px;
    line-height: 15px;
}

.container-checklist {
    /* padding: 2rem 2rem 1rem 2rem; */
    padding: 0.7rem;
}


/*********** OFFER BOX ************/

.display-icon-true {
    display: flex;
    justify-content: space-between;
}


/************** package summary details *********/

.w-100 {
    width: 100%;
}

.package-summary-2 {
    display: flex;
    flex-direction: column;

}

.box-list-container {
    padding: 2rem 1rem 2rem 1rem;
}

.container-checklist-2 {
    padding: 0.5rem;
}

.title-box {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}

.margin-r {
    margin-right: 4.5rem;
}

.margin-l {
    margin-left: 6rem;
}

.dimension-packheigth {
    max-width: 538px;
}

.dimension-min-packheigth {
    min-width: 538px;
}


/********* PACKAGE SUMMARY END*************/

/* Body container END */ 


.package-container {
    height: 1250px;
    display: flex;
    flex-direction: column;
}
/*****************************************/
.mid-box {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.mid-box-1 {
    /* width: 730px; */
    width: 70%;
    max-height: 500px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.img-hotel {
    background-image: url('../images/hotel-blue-haven.jpg');
    background-size: cover;
    width: 50%;
}

.information-hotel {
    width: 50%;
    
}

.header-text span {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.description-hotel {
    font-size: 14px;
    line-height: 160.6%;
    text-align: justify;
    }

.container-hotelinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.4rem;
    max-height: 500px;
    height: 95%;
}

.price-footer-hotel {
    margin-bottom: 2rem;
}

.container-home {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
}

.cancel-price {
    margin-top: 5rem;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
}

.text {
    padding-left: 1rem;
    
}

.position-hotel {
    padding-top: 1rem;
}



.price-footer-hotel {
    display: flex;
    justify-content: space-between;
}


.price-left {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}


.button-right button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid darkred;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}


/************************************/

.mid-box-2 {
    width: 350px;
    max-height: 500px;
    border-radius: 10px;
    height: 500px;
}


.first-top-box {
    background-image: url('../images/lux-belle-more.jpg');
    background-size: cover;
    height: 50%;
}

.cancel-little-box {
    margin-top: 2rem;
}

.price-footer-change {
    margin-bottom: 0;
    margin-top: 1rem;
}

/*************************************/

.end-box {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.end-box-1 {
    height: 500px;
    width: 350px;
}

.bg-img-white-palace {
    background-image: url('../images/white-palace.jpg');
    background-size: cover;
    height: 50%;
}

.bg-img-luxury {
    background-image: url('../images/luxury-place.jpg');
    background-size: cover;
    height: 50%;
}

.bg-img-hotel-5-stars {
    background-image: url('../images/hotel-five-star.jpg');
    background-size: cover;
    height: 50%;
}

.end-box-2 {
    background-color: darkkhaki;
    width: 350px;
}

.end-box-3 {
    background-color: darkslategrey;
    width: 350px;
}


/********************* PACKAGE CONTAINER END *************/

.people-container {
    height: 550px;
    
}

.people-container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    }


.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60%;

}


.review-people {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-girl img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.avatar-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-bottom: -6rem;
}


.title-megan {
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    margin: 10px 0 0 0;
}

.last-visited {
    font-size: 10px;
    line-height: 13px;
    margin-top: 1rem;
}

.bg {
    width: 731px;
    height: 280px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review-info {
    margin-top: 7rem;
    font-size: 12px;
    line-height: 160%;
    width: 537px;
    height: 114px;
}

.arrow {
    cursor: pointer;

}

    /*************************************/


.newsletter-container {
    height: 260px;
   
    width: 100%;
    background-image: url('../images/background-landscape.svg');
    background-size: cover;
}

.op {
    background: rgba(10, 34, 61, 0.8);
    opacity: 0.9;
}

.trasparent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 260px;
    width: 100%;

}

.news-big {
    margin-left: 4rem;
}

.text-5 {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}

.text-6 {
    
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
}

.form-newsletter {
    display: flex;
    border-radius: 4px;
    margin-right: 5rem;
}

.form-newsletter input {
    padding: 1rem;
    padding-right: 5rem;
    border: 0px solid #ffffff;
    border-width: 0;
    border-radius: 4px;
}

.send {
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    border-radius: 0px 4px 4px 0px;
}


/****************************************/

.activities-container {
    height: 500px;
    background-color: indianred;
}

.footer-container {
    height: 900px;
    background-color: khaki;
}